html,body {
	background:#DEB887;
}

h1 {
	color:#8B4513;
	text-align:center;
	text-decoration:underline;
}

h2 {
	color:#CC0000;
	text-align:center;
	font-size:16px;
}

p {
	font-style:italic;
}

p#l1 {
	color:#696969;
	text-decoration:underline;
}

p#l2 {
	color:#8B4513;		
}
